body {
  margin: 0;
  background: #6b7db3;
  text-align: center;
}

h1 {
	color: #ffffff;
	padding-top: 20px;
	font-size: 2vw;
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
p {
	color: #ffffff;
	font-size: 1.5vw;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

.imgs {
  border: 5px;
  border-color: #6b7db3;
  display: inline-block;
  border-top-style: solid;
  border-right-style: dotted;
  border-bottom-style: solid;
  border-left-style: dotted;
}

.fadeIn {
	opacity: 0;
}

 @-webkit-keyframes jumboFadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
 }
 
 @keyframes jumboFadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
 }

 .jumboFadeIn {
	-webkit-animation-name: jumboFadeIn;
	animation-name: jumboFadeIn;
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

@media (min-width: 1200px) {
	#override-bootstrap .container {
		width: 85vw;
	}
	#override-bootstrap h5 {
		margin-bottom: 1.5vw;
		margin-top: 1vw;
	}
	#override-bootstrap h2, h3, h4 {
		margin-top: 3vw;
	}
}

@media (max-width: 1080px) {
	#override-bootstrap h2 {
		margin-top: 1vw;
	}
	.jumbotron .caption a {
		margin-left: 10vw;
		font-size: 4vw;
	}
	.jumbotron .title {
		margin-top: 33vh;
	}
}

/* Header */
.icons {
	position: absolute;
	text-align: left;
	top: 0;
	left: 0;
	padding-top: 1vw;
	padding-left: 1vw;
	z-index: 999;
}

.icons img {	
	width: 5vh;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.icons img:hover {
	-webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
}
