body {
  margin: 0;
  background: pink;
  text-align: center;
}

.fadeIn {
	opacity: 0;
}

 @-webkit-keyframes jumboFadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
 }
 
 @keyframes jumboFadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
 }

 .jumboFadeIn {
	-webkit-animation-name: jumboFadeIn;
	animation-name: jumboFadeIn;
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

@media (min-width: 1200px) {
	#override-bootstrap .container {
		width: 85vw;
	}
	#override-bootstrap h5 {
		margin-bottom: 1.5vw;
		margin-top: 1vw;
	}
	#override-bootstrap h2, h3, h4 {
		margin-top: 3vw;
	}
}

@media (max-width: 1080px) {
	#override-bootstrap h2 {
		margin-top: 1vw;
	}
	.jumbotron .caption a {
		margin-left: 10vw;
		font-size: 4vw;
	}
	.jumbotron .title {
		margin-top: 33vh;
	}
}

/* Header */
.icons {
	position: absolute;
	text-align: left;
	top: 0;
	left: 0;
	padding-top: 1vw;
	padding-left: 1vw;
	z-index: 999;  /* places the icons in front of jumbotron */
}
