body {
  margin: 0;
  background: pink;
  text-align: center;
}

.fadeIn {
	opacity: 0;
}

 @-webkit-keyframes jumboFadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
 }
 
 @keyframes jumboFadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
 }

 .jumboFadeIn {
	-webkit-animation-name: jumboFadeIn;
	animation-name: jumboFadeIn;
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
